<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Capitaler</title>
  <link href="https://fonts.cdnfonts.com/css/segoe-script" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body>
  <div id="map"></div>

  <div class="navbar">
    <a href="/homepage">Home</a>
    <a href="/quiz">Quizzes</a>
    <a href="/records">Quiz Records</a>
    <a href="/news">News</a>
    <a href="/about">About</a>
  </div>

  <h1 class="title">Capitaler</h1>

  <script>
    const map = L.map('map', {
      center: [-38, 160],
      zoom: 4,
      worldCopyJump: true,
      minZoom: 2
    });

    const bounds = L.latLngBounds(
      L.latLng(-85, -Infinity),
      L.latLng(85, Infinity)
    );
    map.setMaxBounds(bounds);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 18,
      attribution: '&copy; OpenStreetMap contributors'
    }).addTo(map);

    const places = [
        { name: "Beijing", 
          coords: [39.9042, 116.4074], 
          info: "Beijing, previously romanized as Peking, is the capital city of China. With more than 22 million residents, it is the world's most populous national capital city as well as China's second largest city by urban area after Shanghai. It is located in Northern China, and is governed as a municipality under the direct administration of the State Council with 16 urban, suburban, and rural districts.",
          img: "https://upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Skyline_of_Beijing_CBD_from_the_southeast_%2820210907094201%29.jpg/1920px-Skyline_of_Beijing_CBD_from_the_southeast_%2820210907094201%29.jpg"
        },

        { name: "London", 
          coords: [51.5074, -0.1278], 
          info: "London is the capital and largest city of both England and the United Kingdom, with a population of 9,841,000 in 2025. Its wider metropolitan area is the largest in Western Europe, with a population of 15.1 million. London stands on the River Thames in southeast England, at the head of a 50-mile (80 km) tidal estuary down to the North Sea, and has been a major settlement for nearly 2,000 years.",
          img: "https://upload.wikimedia.org/wikipedia/commons/6/67/London_Skyline_%28125508655%29.jpeg"
        },

        { name: "Wellington", 
          coords: [-41.2865, 174.7762], 
          info: "Wellington is the capital city of New Zealand. It is located at the south-western tip of the North Island, between Cook Strait and the Remutaka Range. Wellington is the third-largest city in New Zealand (second largest in the North Island), and is the administrative centre of the Wellington Region. It is the world's southernmost capital of a sovereign state. Wellington features a temperate maritime climate, and is the world's windiest city by average wind speed." ,
          img: "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Wellington_Panorama_View.jpg/2560px-Wellington_Panorama_View.jpg"
        },

        { name: "Moscow", 
          coords: [55.7558, 37.6176], 
          info: "Moscow is the capital and largest city of Russia, standing on the Moskva River in Central Russia. It has a population estimated at over 13 million residents within the city limits. Moscow is among the world's largest cities, being the most populous city entirely in Europe, the largest urban and metropolitan area in Europe, and the largest city by land area on the European continent.",
          img: "https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Moscow_%2852078730783%29.jpg/1920px-Moscow_%2852078730783%29.jpg"
        },

	      { name: "Washington, D.C.", 
          coords: [38.9072, -77.0369], 
          info: "Washington, D.C., officially the District of Columbia and commonly known as simply Washington or D.C., is the capital city and federal district of the United States. The city is on the Potomac River, across from Virginia, and shares land borders with Maryland to its north and east. It was named after George Washington, the first president of the United States. The district is named for Columbia, the female personification of the nation.",
          img: "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/12-07-13-washington-by-RalfR-08.jpg/800px-12-07-13-washington-by-RalfR-08.jpg"
        },

  		  { name: "Tokyo", 
          coords: [35.6895, 139.6917], 
          info: "Tokyo, officially the Tokyo Metropolis, is the capital and most populous city in Japan. With a population of over 14 million in the city proper in 2023, it is one of the most populous urban areas in the world. The Greater Tokyo Area, which includes Tokyo and parts of six neighboring prefectures, is the most populous metropolitan area in the world, with 41 million residents as of 2024.",
          img: "https://upload.wikimedia.org/wikipedia/commons/b/b2/Skyscrapers_of_Shinjuku_2009_January.jpg"
        },

  		  { name: "Paris",
          coords: [48.8566, 2.3522], 
          info: "Paris is the capital and largest city of France, with an estimated population of 2,048,472 in January 2025 in an area of more than 105 km2 (41 sq mi). It is located in the centre of the Île-de-France region. Paris is the fourth-most populous city in the European Union. Nicknamed the City of Light, Paris has been one of the world's major centres of finance, diplomacy, commerce, culture, fashion, and gastronomy since the 17th century.",
          img: "https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29.jpg/1920px-La_Tour_Eiffel_vue_de_la_Tour_Saint-Jacques%2C_Paris_ao%C3%BBt_2014_%282%29.jpg"
        },

  		  { name: "Berlin", 
          coords: [52.52, 13.4050], 
          info: "Berlin is the capital and largest city of Germany, by both area and population. With 3.7 million inhabitants, it has the highest population within its city limits of any city in the European Union. The urban area of Berlin has a population of over 4.6 million, making it the most populous in Germany. The Berlin-Brandenburg capital region has around 6.2 million inhabitants and is Germany's second-largest metropolitan region after the Rhine-Ruhr region, as well as the fifth-biggest metropolitan region by GDP in the European Union.",
          img: "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Museumsinsel_Berlin_Juli_2021_1_%28cropped%29_b.jpg/2560px-Museumsinsel_Berlin_Juli_2021_1_%28cropped%29_b.jpg"
        },

  		  { name: "Rome", 
          coords: [41.9028, 12.4964], 
          info: "Rome is the capital city and most populated comune (municipality) of Italy. It is also the administrative centre of the Lazio region and of the Metropolitan City of Rome. A special comune named Roma Capitale with 2,746,984 residents in 1,287.36 km2 (497.1 sq mi), Rome is the third most populous city in the European Union by population within city limits. The Metropolitan City of Rome Capital, with a population of 4,223,885 residents, is the most populous metropolitan city in Italy. Its metropolitan area is the third-most populous within Italy.",
          img: "https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Rome_skyline_panorama.jpg/2560px-Rome_skyline_panorama.jpg"
        },
        
  		  { name: "Warsaw", 
          coords: [52.2297, 21.0122], 
          info: "Warsaw, officially the Capital City of Warsaw, is the capital and largest city of Poland. The metropolis stands on the River Vistula in east-central Poland. Its population is officially estimated at 1.86 million residents within a greater metropolitan area of 3.27 million residents, which makes Warsaw the 6th most-populous city in the European Union. Warsaw is classified as an alpha global city, a major political, economic and cultural hub, and the country's seat of government.",
          img: "https://th.bing.com/th/id/R.e9899713f031022400f23df16343d5ae?rik=ziKjcxGy96Arbg&pid=ImgRaw&r=0"
        },
        
  	  	{ name: "Canberra", 
          coords: [-35.2809, 149.1300], 
          info: "Canberra is the capital city of Australia and the capital and largest city of the Australian Capital Territory. It is Australia's largest inland city, and the eighth-largest Australian city by population. The city is located at the northern end of the Australian Capital Territory at the northern tip of the Australian Alps, the country's highest mountain range. As of June 2024, Canberra's estimated population was 473,855.",
          img: "https://upload.wikimedia.org/wikipedia/commons/c/cc/Canberra_panorama_from_Mount_Ainslie.jpg"
        },

        { name: "Ottawa", 
          coords: [45.4215, -75.6997], 
          info: "Ottawa is the capital city of Canada. It is located in the southern portion of the province of Ontario, at the confluence of the Ottawa River and the Rideau River. Ottawa borders Gatineau, Quebec, and forms the core of the Ottawa–Gatineau census metropolitan area (CMA) and the National Capital Region (NCR). As of 2021, Ottawa had a city population of 1,017,449 and a metropolitan population of 1,488,307, making it the fourth-largest city and fourth-largest metropolitan area in Canada.",
          img: "https://upload.wikimedia.org/wikipedia/commons/2/22/Parliament-Ottawa.jpg"
        },

        { name: "Brasília", 
          coords: [-15.7939, -47.8828], 
          info: "Brasília is the capital city of Brazil and the Federal District. Located in the Brazilian highlands in the country's Central-West region, it was founded by President Juscelino Kubitschek on 21 April 1960, to replace Rio de Janeiro as the national capital. Brasília is Brazil's third-most populous city after São Paulo and Rio de Janeiro, with a population of 2.8 million. Among major Latin American cities, it has the highest GDP per capita.",
          img: "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Planalto_Central_%28cropped%29.jpg/2560px-Planalto_Central_%28cropped%29.jpg"
        },

        { name: "New Delhi", 
          coords: [28.6139, 77.2090], 
          info: "New Delhi is the capital of India and a part of the National Capital Territory of Delhi (NCT). New Delhi is the seat of all three branches of the Government of India, hosting the Rashtrapati Bhavan (Presidential Palace), Sansad Bhavan (Parliament House), and the Supreme Court.  The municipal area is part of a larger administrative district, the New Delhi district.",
          img: "https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Forecourt%2C_Rashtrapati_Bhavan_-_1.jpg/1920px-Forecourt%2C_Rashtrapati_Bhavan_-_1.jpg"
        },

        { name: "Seoul", 
          coords: [37.5665, 126.9780], 
          info: "Seoul, officially Seoul Special Metropolitan City, is both the capital and largest city of South Korea, and the largest city in the whole of Korea. The broader Seoul Metropolitan Area, encompassing Seoul, Gyeonggi Province and Incheon, emerged as the world's sixth largest metropolitan economy in 2022, and hosts more than half of South Korea's population. Although Seoul's population peaked at over 10 million, it has gradually decreased since 2014, standing at about 9.6 million residents as of 2024.",
          img: "https://upload.wikimedia.org/wikipedia/commons/c/c7/Seoul_%28175734251%29_%28cropped%29.jpg"
        },

        { name: "Ankara", 
          coords: [39.9208, 32.8541], 
          info: "Ankara is the capital city of Turkey. Located in the central part of Anatolia, the city has a population of 5,290,822 in its urban center and 5,864,049 in Ankara Province (total of 25 districts). Ankara is Turkey's second-largest city by population after Istanbul, first by urban land area, and third by metro land area after Konya and Sivas.",
          img: "https://upload.wikimedia.org/wikipedia/commons/4/44/Ankara_from_bus_station.jpg"
        },

        { name: "Cairo", 
          coords: [30.0444, 31.2357], 
          info: "Cairo is the capital and largest city of Egypt and the Cairo Governorate, being home to more than 10 million people. It is also part of the largest urban agglomeration in Africa, the Arab world, and the Middle East. The Greater Cairo metropolitan area is one of the largest in the world by population with over 22 million people.",
          img: "https://upload.wikimedia.org/wikipedia/commons/d/db/Cairo_From_Tower_%28cropped%29.jpg"
        },

        { name: "Kyiv", 
          coords: [50.4501, 30.5234], 
          info: "Kyiv, also Kiev, is the capital and most populous city of Ukraine. Located in the north-central part of the country, it straddles both sides of the Dnieper River. As of 1 January 2022, its population was 2,952,301, making Kyiv the seventh-most populous city in Europe. Kyiv is an important industrial, scientific, educational, and cultural center. It is home to many high-tech industries, higher education institutions, and historical landmarks.",
          img: "https://upload.wikimedia.org/wikipedia/commons/4/49/17-07-02-Maidan_Nezalezhnosti_RR74377-PANORAMA.jpg"
        },

        { name: "Buenos Aires", 
          coords: [-34.6037, -58.3816], 
          info: "Buenos Aires, officially the Autonomous City of Buenos Aires, is the capital and largest city of Argentina. It is located on the southwest of the Río de la Plata. Buenos Aires is classified as an Alpha− global city, according to the GaWC 2024 ranking. The city proper has a population of 3.1 million and its urban area has a population of 16.7 million, making it the twentieth largest metropolitan area in the world.",
          img: "https://upload.wikimedia.org/wikipedia/commons/1/1e/Puerto_Madero%2C_Buenos_Aires_%2840689219792%29_%28cropped%29.jpg"
        },

        { name: "Pretoria",
          coords: [-25.7479, 28.2293], 
          info: "Pretoria (Afrikaans: [prəˈtʉəria]) is the administrative capital of South Africa, serving as the seat of the executive branch of government, and as the host to all foreign embassies to the country.",
          img: "https://upload.wikimedia.org/wikipedia/commons/7/7d/Pretoria_viewed_from_the_Voortrekker_Monument.jpg"
        },

        { name: "Madrid", 
          coords: [40.4168, -3.7038], 
          info: "Madrid is the capital and most populous municipality of Spain. Madrid has almost 3.3 million inhabitants and a metropolitan area population of approximately 6.8 million. It is the second-largest city in the European Union (EU), second only to Berlin, Germany, and its metropolitan area is the second-largest in the EU. The municipality covers 604.3 km2 geographical area. It is the political, economic, and cultural centre of the country.",
          img: "https://upload.wikimedia.org/wikipedia/commons/1/14/Madrid_-_Sky_Bar_360%C2%BA_%28Hotel_Riu_Plaza_Espa%C3%B1a%29%2C_vistas_19.jpg"
        },

        { name: "Vienna", 
          coords: [48.2082, 16.3738], 
          info: "Vienna is the capital, most populous city, and one of nine states of Austria. It is Austria's primate city, with just over two million inhabitants. Its larger metropolitan area has a population of nearly 2.9 million, representing nearly one-third of the country's population. Vienna is the cultural, economic, and political center of the country, the fifth-largest city by population in the European Union, and the most populous of the cities on the river Danube.",
          img: "https://upload.wikimedia.org/wikipedia/commons/5/5b/Schoenbrunn_philharmoniker_2012.jpg"
        }
    ];

    places.forEach(place => {
      L.marker(place.coords)
        .addTo(map)
        .bindPopup(`
          <div style="text-align:center; width:220px;">
            <h3>${place.name}</h3>
            ${place.img ? `<img src="${place.img}" style="width:100%; border-radius:6px; margin-top:6px;" />` : ''}
            <p style="font-size:14px; margin-top:8px;">${place.info}</p>
          </div>
        `);
    });
  </script>
</body>

</html>