<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Register</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/Register.css')}}" />
  <link href="https://fonts.cdnfonts.com/css/segoe-script" rel="stylesheet">
</head>
<body style="background: url('/static/background.jpg') no-repeat center center fixed;">
  <h1 class="title">Capitaler</h1>
  <div class="register-box">
    <h2>Register</h2>
    <form id="registerForm" method="post">
      <input type="text" name="email" placeholder="email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Register</button>
      <a href="/">Back to login</a>
    </form>
    <p id="message"></p>
  </div>
</body>
</html>